#puzzle {
  margin-top: 40px;

  td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;

  }
}



#word-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  .word {
    margin-right: 15px;
    margin-bottom: 5px;
  }
}